seed: 13

model:
  base: "Qwen/Qwen2.5-0.5B"  # e.g. "TODBERT/TOD-BERT-JNT-V1"
  pooling_mode: "mean"  # "cls"; "mean"; "max"; "weightedmean"; "lasttoken";
  special_tokens: [] # e.g. ["[USR]", "[SYS]"]
  max_seq_length: 64 # if null, then min(auto_model.config.max_position_embeddings, tokenizer.model_max_length)

target:
  losses: "soft-labeled-contrastive-loss"
  trainsets: "data/ev-dialog-acts+slots.csv"

contrastive_learning:
  label_pos: null
  label_neg: null
  use_contrastive_head: True
  # contrastive_head_lr_scale: 100
  softmax_temperature: .05  # the lower the more contrastive the loss is
  soft_label_temperature: .35  # the greater the "softer" the labels are (only used when soft-labeled-contrastive-loss is used)
  soft_label_model: "all-mpnet-base-v2" # model used to get the embeddings of the labels

training:
  batch_size: 16 # modify to sastify batch_size * n_gpu * grad_acccumulate =  64
  chunk_size: 0
  num_epochs: 4
  warmup_steps: 0
  learning_rate: 3e-6
  use_single_optimizer: False  # whether or not to use a single optimizer for all the tasks (when multi-task learning)
  continue_from_last_checkpoint: True

evaluation:
  evaluations_per_epoch: 1  # how many evaluations to perform per epoch
  min_steps: 50  # minimum number of steps for evaluations to happend
  metric: "f1-score"  # "correlation-score"  (Spearman correlation) or "f1-score", "accuracy", "recall", "precision" (sklearn classification_report metrics)
  metric_avg: "macro"  # "macro", "micro", "weighted" (ignore if not classification)
  devset: "data/val.csv"
  testset: null
  best_model_output_path: "models/qwen25_d2f_single/"

checkpointing:
  saves_per_epoch: 0
  min_steps: 50  # minimum number of steps for checkpoint saving to happend
  total_limit: 0
  always_save_after_each_epoch: False
  path: "models/qwen25_d2f_single/checkpoints"

wandb:
  project_name: "d2f_single_ev"  # if null a default name will be given using the provided parameters (training set, model name, etc.)
  log_freq: 100

datasets:
  csv:
    column_name_sent1: "sent1"
    column_name_sent2: "sent2"
    column_name_ground_truth: "value"

cache:
  enabled: False
